
*{
  box-sizing: border-box;
}
:root{
  --color-main: #202024;
  --color-bg: #16161a;
  --color-br: #555;
  --title-color: #f8f8fb;
  --title-hover-color: #fd973d;
  --bd-radius: .2rem;
}

body{
  background-color: var(--color-bg) !important;
}

.container{
  display: flex;
  margin: auto;
  max-width: 1100px;
  width: 90%;
}

a{
  text-decoration: none;
  color: var(--title-color);
}

img:hover{
  /* filter: brightness(100%) !important; */
  filter: none;
}

h2, span{
  color: var(--title-color);
}

/* Container Post */

.container-post{
  /* background-color: var(--color-main); */
  border: 1px solid red;
  height: auto;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 2rem;
}
.container-post .content-post{
  background-color: var(--color-main);
  color: var(--title-color);
  border-radius: var(--bd-radius);
  flex: 2;
  padding: 1rem;
}
.container-post .content-post h2{
    font-family: 3rem;
}
.container-post .content-post .infos-post{
  margin: 1rem 0;
}
.container-post .content-post .container-img{
  width: 100%;
  max-height: 400px; 
  margin: .5rem 0;
  overflow: hidden; 
}
.container-post .content-post .container-img
img{
  width: 100%;
  height: 100%; 
  object-fit: cover;
}
.container-post .content-post  .category-post{
  margin-top: 1rem;
  margin-bottom: 0;
}
.container-post .content-post .article-body {
  line-height: 1.6;
  color: var(--title-color);
}
.section {
  margin-bottom: 3rem;
}
.section-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--title-hover-color);
  margin-bottom: 10px;
}
.section-content {
  font-size: 1rem;
}
.section-content p {
  margin-bottom: 20px;
}
.section-content ul {
  list-style: none;
  padding-left: 0;
}
.section-content li {
  position: relative;
  padding-left: 25px;
}
.section-content li:before {
  content: "\2022"; /* Código do caractere do bullet */
  position: absolute;
  left: 0;
  top: 5px;
  color: var(--title-hover-color);
  font-size: 20px;
}
.social-share {
  margin-top: 3rem;
  background-color:  rgba(255,255,255,0.03);
  border-radius: var(--bd-radius);
  padding: 1rem;
  position: relative;
}
.social-share h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}
.social-icons {
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons li i{
  color: var(--title-hover-color);
  opacity: .8;
}
.social-icons li i:hover{
  opacity: 1;
}
.like-button {
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem;
}
.like-btn {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  opacity: .8;
}
.like-btn:hover{
  opacity: 1;
}
.like-count {
  margin-left: 10px;
  color: #555;
}
/*  */
.author{
  border-top: 1px solid var(--color-br);
  border-bottom: 1px solid var(--color-br);
  margin: 2rem 0;
  padding: 2rem 0;
  /* background-color: ; */
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.info-author-photo{
  background-color: #555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.info-author{
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.info-author .info-author-name:hover{
  color: var(--title-hover-color);
}
.info-author .info-author-description{
    color: #999898;
    line-height: 1.5rem;
}

/*  */
.container-suggested {
  width: 100%;
  overflow: hidden;
}

.content-suggested {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.content-suggested .post-suggested {
  position: relative;
  flex-basis: calc(33.33% - 1rem);
  flex-grow: 1; /* Para preencher o espaço disponível */
}

.container-img-suggested {
  height: 125px;
}
.title-suggested{
  display: block;
  font-size: .9rem;
  margin-top: .5rem ;
}

.content-suggested .post-suggested img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-suggested .post-suggested .category-suggested {
  position: absolute;
  top: 0;
  left: 0;
}

/*  */
.container-post .sidebar-post{
  border: 1px solid red;
  flex: 1;
  padding: .5rem;
  border-radius: var(--bd-radius);
}
.container-post .sidebar-post h2{
  font-size: 1rem;
  text-transform: uppercase;
}

.container-post .sidebar-post .container-social-networks{
  background-color: var(--color-main);
  width: 100%;
  /* height: 50px; */
  padding: 1rem .5rem;
  
}
.container-post .sidebar-post .container-social-networks
h2{
  color: var(--title-color);
}
.container-post .sidebar-post .container-social-networks 
ul{
  margin-top: 1rem;
  /* background-color: #fd973d; */
  display: flex; 
  flex-wrap: wrap;
  gap: .5rem;
}
.container-post .sidebar-post .container-social-networks 
ul li{
  /* flex: 1; */
  width: 48%;
  padding: .5rem .5rem;
  cursor: pointer;
  border-radius: .2rem;
}
.container-post .sidebar-post .container-social-networks 
ul li:hover{
  opacity: .9;
}
.container-post .sidebar-post .container-social-networks 
ul li a{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-facebook{
  background-color: #3b5999;
}
.social-instagram{
  background-image: linear-gradient(15deg,#ffb13d,#dd277b,#4d5ed4);
}
.social-twitter{
  background-color: #00acee;
}
.social-tiktok{
  background-color: #16161a;
}

/*  */
.container-most-popular-post{
  width: 100%;
  border: 1px solid red;
  margin: 2rem 0;
  background-color: var(--color-main);
  border-radius: var(--bd-radius);
  padding: .5rem;
  height: auto;
}
.container-most-popular-post h2{
  margin-bottom: 1rem;
}

.box-post-full{
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
  /* height: 175px; */
}
.box-post-full img{
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.contente-popular-post{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.box-post-full span{
  background: linear-gradient(rgba(17, 17, 17, 0.01), rgb(0, 0, 0));
  position: absolute;
  left: 0;
  bottom: 0;
  padding: .5rem;
  font-size: 1.1rem;
  font-weight: 600;
  
}

.box-post{
  display: flex;
  gap: .5rem;
  margin-bottom: 2rem;
}
.box-post img{
  width: 40%;
  height: 80px;
  object-fit: cover;
}
.box-post span{
  font-size: .8rem;
  line-height: 1.1rem;
}
/*  */

/*  */
.send-email{
  border: 1px solid red;
  background-color: var(--color-main);
  padding: .5rem;
}
.send-email span{
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
}
.send-email form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.send-email form input{
  padding: .7rem .5rem;
}
.send-email form input{
  background-color: #39393a;
  border: none;
  color: var(--title-color);
}
.send-email form input[type="submit"]{
  background-color: var(--title-hover-color);
  cursor: pointer;
}
.send-email form input[type="submit"]:hover{
  opacity: .9;
}



/*  */
@media (max-width: 950px){
  .container-post .sidebar-post .container-social-networks 
  ul li{
    width: 100%;
  }
}
