@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --colorMain: #212529;
    --colorSecondary: #ffffff;
    --colorThird: #343434;
    --colorBgBtn: #fd973d;
    --fontMain: 'Inter', sans-serif;
    --fontSecondary: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colorMain);
    font-family: var(--fontSecondary);
}

img{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    cursor: pointer;
}
img:hover{
    filter: brightness(70%);
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #343434;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    width: 1325px;
}

.navbar {
    align-items: center;
}

.menu-navbar ul li {
    list-style: none;
    display: inline;
}

.logo-navbar img {
    width: 150px;
}

.menu-navbar ul li a {
    color: var(--colorSecondary);
    text-decoration: none;
    padding: 10px;
}

.menu-navbar ul li a:hover {
    color: var(--colorBgBtn);
}

/* Search */
.menu-search {
    background-color: var(--colorThird);
    padding: 0 5px;
}

.menu-search form input,
.menu-search form button {
    height: 30px;
    border: none;
    background-color: transparent;
}

.menu-search form input {
    padding-left: 10px;
    outline: none;
    color: var(--colorSecondary);
}

.menu-search form button {
    cursor: pointer;
    opacity: .8;
    transition: .9s;
}

.menu-search form button:hover {
    opacity: 1;
}

.menu-social-login {
    display: flex;
    align-items: center;
}

.menu-social-login div {
    padding-left: 25px;
    font-size: 20px;
}

.menu-social-login button {
    background-color: var(--colorBgBtn);
    font-family: var(--fontSecondary);
    font-size: 1rem;
    padding: .4rem .8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: .8;
}

.menu-social-login button a {
    color: #fff;
    text-decoration: none;
}

.menu-social-login button:hover {
    opacity: 1;
}

.icone-social a {
    color: black;
}

.icone-social {
    cursor: pointer;
}

.icone-social :hover {
    color: white;
    transition: .2s;
}

/* END HEADER */


/* NEWS GALLERY */
#news_gallery {
    max-width: 1325px;
    margin: 0 auto;
    border: 0px solid red;
    display: grid;
    grid-row-gap: 5px;
    margin-top: 5px;

    grid-template-areas:
        "main-news  item  item  item"
        "main-news  item  item  item";
}

#news_gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.item {
    width: 268px;
    height: 200px;
    /* height:auto; */
    background-color: gray;
    grid-area: "item";

    position: relative;
}

.main-news {
    width: 500px;
    height: 405px;
    grid-area: "main-news";
    grid-row: main-news;
    display: flex;
}

.item .new {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    padding: 12px;
    font-size: 14px;
    background-color: #343434;
    width: 91%;
    background: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.95));
}

.new .category {
    display: inline-block;
    font-size: 13px;
    padding: 3px;
    margin-bottom: 5px;
    background-color: #343434;
}

.new .author {
    padding-right: 7px;
}

.new .author,
.totalComments {
    font-size: 10px;
    font-weight: 400;
}

.btn-carousel {
    width: 20px;
    margin: 10px;
    height: 80px;
    cursor: pointer;
    border: none;
    /* display: none; */
    background-color: var(--colorThird);
    color: white;
}

.btn-carousel:hover {
    background-color: rgba(224, 217, 217, 0.514);
}

#btn-prev,
#btn-next {
    position: absolute;
    top: 35%;
}

#btn-next {
    right: 20px;
}
/* .main-news img{
    opacity: 1;
    transition: .7s;
}
.main-news img:hover{
    opacity: .5;
} */
.main-news  .new {
    padding: 50px 50px;
}

.main-news  .new .title {
    font-size: 25px;
}

/* END GALLERY */


/*  LATEST NEWS */
#latest_news {
    border: 1px solid red;
    margin: 2rem 0;
}

.lat_news {
    margin: auto;
    height: auto;
}

.conteiner_news {
    width: 75%;
}

.conteiner_news h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: .5rem 0;
    color: var(--colorSecondary);
}

.content_latest_news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info_latest_news {
    flex: 1;
    min-width: 40%;
    color: var(--colorSecondary);
    margin-top: 2rem;
    position: relative;
}

.info_latest_news .img-post,
.preview-description,
.title, .infos-post{
    width: 100%;
}
.info_latest_news .img-post{
    height: 60%;
    object-fit: cover;
}
.info_latest_news .title {
    display: block;
    word-wrap: break-word;
    margin: .5rem 0;
    font-size: 1.4rem;
}
.info_latest_news .preview-description {
    display: block;
    font-size: .8rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
}
.info_latest_news .infos-post {
    display: flex;
    justify-content: space-between;
    font-size: .7rem;   
}
.info_latest_news .author {
    display: flex;
    align-items: center;
    gap: 10px;
}
.info_latest_news .author img {
    width: 25px;
}

.info_latest_news .statistic-post{
    display: flex;
    gap: 10px;
}
.info_latest_news .category-latest-news{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}


.side-info {
    width: 25%;
    background-color: red;
}

/*  END LATEST NEWS */
.hide{
    display: none;
}